body {
  background-color: #BBDEFB;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

form{
  background-color: white;
  padding: 20px;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}
.description{
	font-size: 35px;
	text-align: left;
	
}

input[type="submit"]{
  background-color: #42A5F5;
  color: white;
  padding: 10px;
  border: none;   
  cursor: pointer;
  width: 100%;
}