body {
  background-color: paleturquoise;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

form {
  background-color: white;
  padding: 20px;
  display: inline-block;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
}

input[type="submit"] {
  background-color: teal;
  color: white;
  padding: 10px;
  border: none;   
  cursor: pointer;
  width: 100%;
}
.header img {
  width: 100px;
  height: 100px;
}
.header {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #E4FFFF;
}
input[type="submit"].nostyle {
  all: unset;
  cursor: pointer;
}
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .comments, .ratings {
            flex: 1;
        }
        .comments {
            max-width: 50%;
        }
        .ratings {
            max-width: 50%;
        }




