
.header img {
  width: 100px;
  height: 100px;
}
.header {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #E4FFFF;
}
input[type="submit"].nostyle {
  all: unset;
  cursor: pointer;
}
        .container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .comments, .ratings {
            flex: 1;
        }
        .comments {
            max-width: 50%;
        }
        .ratings {
            max-width: 50%;
        }
    .profile-container {
        display: flex;
        justify-content: space-between;
    }

    .profile-info {
        flex-basis: 30%; 
    }

    .friends-list {
        flex-basis: 30%;
    }

    .activity-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px; 
    }

    .recent-comments, .recent-ratings {
        flex-basis: 50%;
		flex-wrap: wrap;
        gap: 20px;
	}




